.atras{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./atras.png);
}
.frente1{
    cursor: pointer;
    position: absolute;
    transform: rotateY(0deg);
    transition: 0.4s
}
.atras1{
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
    transition: 0.4s
}
.frente2{
    backface-visibility: hidden;
    cursor: pointer;
    position: absolute;
    transform: rotateY(180deg);
    transition: 0.4s
}
.atras2{
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(0deg);
    transition: 0.4s
}

.imagen1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./imagen1.jpg);
}

.imagen2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./imagen2.jpg);
}
.imagen3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./imagen3.jpg);
}
.imagen4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./imagen4.jpg);
}
.imagen5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./imagen5.jpg);
}
.imagen6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./imagen6.jpg);
}
.imagen7{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./imagen7.jpg);
}
.imagen8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 130px;
    background-image: url(./imagen8.jpg);
}
.bodyBackground{
    background-image: url(./logo.jpg);
}